@model ReservationHotel.Models.Chambre

@{
    ViewData["Title"] = "Delete";
}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Supprimer une Chambre</title>
    <link rel="stylesheet" href="~/css/styles3.css">
    <style>
        .detail-label {
            font-weight: bold;
            color: #333;
            margin-bottom: 5px;
            text-align: center;
        }

        .detail-value {
            background-color: #f7f7f7;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 4px;
            margin-bottom: 20px;
        }

        .btn-danger {
            margin-top: 25px;
            background-color: #dc3545;
            color: white;
            border-radius: 4px;
            padding: 10px;
            border: none;
            cursor: pointer;
            transition: background-color 0.3s;
            width: 100%;
        }

            .btn-danger:hover {
                background-color: #c82333;
            }

        .description-detail-value {
            min-height: 100px; /* hauteur minimal description */
            width: 100%; /* toute largeur */
            overflow: auto; /* gérer text long */
        }

    </style>
</head>
<body>
    <div class="container">
        <h1>Supprimer une Chambre</h1>
        <hr />
        <div class="row">
            <div class="col">
                <!-- Première Colonne -->
                <div class="detail-label">@Html.DisplayNameFor(model => model.NumeroChambre)</div>
                <div class="detail-value">@Html.DisplayFor(model => model.NumeroChambre)</div>

                <div class="detail-label">@Html.DisplayNameFor(model => model.TypeChambre)</div>
                <div class="detail-value">@Html.DisplayFor(model => model.TypeChambre)</div>

                <div class="detail-label">@Html.DisplayNameFor(model => model.QuantitePersonnes)</div>
                <div class="detail-value">@Html.DisplayFor(model => model.QuantitePersonnes)</div>

                <div class="detail-label">@Html.DisplayNameFor(model => model.Prix)</div>
                <div class="detail-value">@Html.DisplayFor(model => model.Prix)</div>
            </div>
            <div class="col">
                <!-- Deuxième Colonne -->
                <div class="detail-label">@Html.DisplayNameFor(model => model.MaxPersonne)</div>
                <div class="detail-value">@Html.DisplayFor(model => model.MaxPersonne)</div>

                <div class="detail-label">@Html.DisplayNameFor(model => model.Vue)</div>
                <div class="detail-value">@Html.DisplayFor(model => model.Vue)</div>

                <div class="detail-label">@Html.DisplayNameFor(model => model.Lit)</div>
                <div class="detail-value">@Html.DisplayFor(model => model.Lit)</div>

                <div class="detail-label">@Html.DisplayNameFor(model => model.Photo)</div>
                <div class="detail-value">@Html.DisplayFor(model => model.Photo)</div>
            </div>

            <div class="detail-label">@Html.DisplayNameFor(model => model.Description)</div>
            <div class="detail-value description-detail-value">@Html.DisplayFor(model => model.Description)</div>

        </div>

        <form asp-action="Delete" class="form-group text-center">
            <input type="hidden" asp-for="ChambreId" />
            <input type="submit" value="Supprimer" class="btn btn-danger" />
        </form>
        <div class="back2">
            <a asp-action="Index">Retour à la liste</a>
        </div>
    </div>

    @section Scripts {
        @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }
    }
</body>
</html>
