@model ReservationHotel.Models.Chambre

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Chambre</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumeroChambre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumeroChambre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TypeChambre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TypeChambre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QuantitePersonnes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QuantitePersonnes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Prix)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Prix)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaxPersonne)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaxPersonne)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Vue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Vue)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Lit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Lit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Photo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Photo)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ChambreId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
