@model IEnumerable<ReservationHotel.Models.Chambre>

@{
    ViewData["Title"] = "Index";
}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestion des Chambres</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="divAjouter">
        <h1>Gestion des Chambres</h1>
        <form>
            <button class="add-room-btn" asp-action="Create">Ajouter une chambre</button>
        </form>
    </div>
    <div class="rooms-container">
        <!-- Début -->
        @foreach (var item in Model) {
        <div class="room-item">
            <img src="@Url.Content(item.Photo)" alt="Chambre" class="room-image" />
            <div class="room-details">
                <p class="room-name">Numéro: @item.NumeroChambre</p>
                <p class="room-price">Prix par nuit: @item.Prix$</p>
                <p class="room-beds">Lits: @item.Lit</p>
                <p class="room-view">Vue: @item.Vue</p>
                <p class="room-beds">Date Disponibilite Debut : @item.CheckIn</p>
                <p class="room-view">Date Disponibilite Fin: @item.CheckOut</p>
            </div>
            <form class="form_modifier">
                <button class="edit-room" asp-action="Edit" asp-route-id="@item.ChambreId">Modifier</button>
            </form>
            <form class="form_supprimer">
                <button class="delete-room" asp-action="Delete" asp-route-id="@item.ChambreId">Supprimer</button>
            </form>
        </div>
        }
    </div>
</body>
</html>

