@{
    ViewData["Title"] = "Explorer";
}

<div id="search-panel">
    <h2>Recherchez votre chambre d'hôtel</h2>
    <form action="@Url.Action("Index", "Home")" method="GET" id="search-form">
        <div class="form-group">
            <label for="checkin-date">Date d'arrivée:</label>
            <input type="date" id="checkin-date" name="checkin">
        </div>
        <div class="form-group">
            <label for="checkout-date">Date de départ:</label>
            <input type="date" id="checkout-date" name="checkout">
        </div>
        <div class="form-group">
            <label for="max-people">Nombre de personnes:</label>
            <input type="number" id="max-people" name="maxPeople" min="1" max="10">
        </div>
        <div class="form-group centered-form-group">
            <button type="submit">Rechercher</button>
        </div>
    </form>
</div>
<section id="chambres">
    <div class="chambre-grid">
        <!-- Début -->
        @foreach (var item in Model) {
        <div class="chambre-card">
                <a href="@Url.Action("Réserver", "Home", new { id = item.ChambreId, maxPeople = item.MaxPersonne })" class="chambre-card-link">
                    <img src="@Url.Content(item.Photo)" alt="Chambre">
                <div class="chambre-info">
                    <h3>Chambre @item.TypeChambre</h3>
                    <p>@item.Lit lit(s), @item.Vue</p>
                    <p class="price">@item.Prix$/nuit</p>
                </div>
            </a>
        </div>
        }
    </div>
</section>

