@{
    ViewData["Title"] = "Réserver";
}

<main>
    <section id="chambre-details">
        <div class="chambre-image">
            <img src="@Url.Content(Model.Photo)" alt="Chambre">
        </div>
        <div class="chambre-info">
            <h1>Chambre @Model.TypeChambre</h1>
            <p>@Model.Lit lit(s), @Model.Vue - @Model.Prix$/nuit</p>
            <p class="description">
                @Model.Description
            </p>
        </div>
    </section>
    <section id="reservation-form-section">
        <form id="reservation-form">
            <div class="form-group">
                <label for="checkin-date">Date d'arrivée:</label>
                <input type="date" id="checkin-date" name="checkin" min="" max="">
            </div>
            <div class="form-group">
                <label for="checkout-date">Date de départ:</label>
                <input type="date" id="checkout-date" name="checkout" min="" max="">
            </div>
            <div class="form-group">
                <label>Nombre de Nuits:</label>
                <span id="number-of-nights"></span>
            </div>
            <div class="form-group">
                <label>Estimation Prix:</label>
                <span id="estimation-price"></span>
            </div>
            <div class="form-group">
                <label>Estimation Taxes:</label>
                <span id="estimation-taxes"></span>
            </div>
            <div class="form-group">
                <label>Total:</label>
                <span id="total-price"></span>
            </div>
            <div class="form-group">
                <button type="submit">Réserver</button>
            </div>
        </form>
    </section>
</main>
<script src="~/js/script2.js"></script>
