@model ReservationHotel.Models.ReservationViewModel

@{
    ViewData["Title"] = "Réserver";
}

<main>
    <section id="chambre-details">
        <div class="chambre-image">
            <img src="@Url.Content(Model.Chambre.Photo)" alt="Chambre">
        </div>
        <div class="chambre-info">
            <h1>Chambre @Model.Chambre.TypeChambre</h1>
            <p>@Model.Chambre.Lit lit(s), @Model.Chambre.Vue - @Model.Chambre.Prix$/nuit</p>
            <p class="description">
                @Model.Chambre.Description
            </p>
        </div>
    </section>
    <section id="reservation-form-section">
        <form asp-action="Réserver" id="reservation-form">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Reservation.DateDebut">Date d'arrivée:</label>
                <input asp-for="Reservation.DateDebut" type="date" id="checkin-date" name="Reservation.DateDebut" />
            </div>

            <div class="form-group">
                <label asp-for="Reservation.DateFin">Date de départ:</label>
                <input asp-for="Reservation.DateFin" type="date" id="checkout-date" name="Reservation.DateFin" />
            </div>
            <div class="form-group">
                <label>Nombre de Nuits:</label>
                <span id="number-of-nights"></span>
            </div>
            <div class="form-group">
                <label>Estimation Prix:</label>
                <span id="estimation-price"></span>
            </div>
            <div class="form-group">
                <label>Estimation Taxes:</label>
                <span id="estimation-taxes"></span>
            </div>
            <div class="form-group">
                <label>Total:</label>
                <span id="total-price"></span>
            </div>
            <input type="hidden" asp-for="Reservation.Annuler" />
            <input type="hidden" asp-for="Reservation.UserId" />
            <input type="hidden" asp-for="Reservation.ChambreId" />
            <div class="form-group">
                <button type="submit" value="Réserver">Réserver</button>
            </div>
            <p id="date-error" class="error-message" style="display: none; color: red;">Les dates d'arrivée et de départ ne peuvent pas être les mêmes.</p>
        </form>
    </section>
</main>
<script src="~/js/script2.js"></script>
