@model ReservationHotel.Models.Reservation

@{
    ViewData["Title"] = "Delete";
}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Annuler une Réservation</title>
    <link rel="stylesheet" href="~/css/styles3.css">
    <style>
        /* Même style que le formulaire Supprimer Chambre */
        .detail-label {
            font-weight: bold;
            color: #333;
            margin-bottom: 5px;
            text-align: center;
        }

        .detail-value {
            background-color: #f7f7f7;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 4px;
            margin-bottom: 20px;
        }

        .btn-danger {
            margin-top: 25px;
            background-color: #dc3545;
            color: white;
            border-radius: 4px;
            padding: 10px;
            border: none;
            cursor: pointer;
            transition: background-color 0.3s;
            width: 100%;
        }

            .btn-danger:hover {
                background-color: #c82333;
            }


        .description-detail-value {
            min-height: 100px; /* hauteur minimal description */
            width: 100%; /* toute largeur */
            overflow: auto; /* gérer text long */
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Annuler une Réservation</h1>
        <hr />
        <div class="row">
            <div class="col">
                <div class="detail-label">@Html.DisplayNameFor(model => model.DateDebut)</div>
                <div class="detail-value">@Html.DisplayFor(model => model.DateDebut)</div>

                <div class="detail-label">@Html.DisplayNameFor(model => model.DateFin)</div>
                <div class="detail-value">@Html.DisplayFor(model => model.DateFin)</div>

                <div class="detail-label">@Html.DisplayNameFor(model => model.Utilisateur)</div>
                <div class="detail-value">@Html.DisplayFor(model => model.Utilisateur.Email)</div>

                <div class="detail-label">@Html.DisplayNameFor(model => model.Chambre)</div>
                <div class="detail-value description-detail-value">@Html.DisplayFor(model => model.Chambre.Description)</div>
            </div>
        </div>

        <form asp-action="Delete" class="form-group text-center">
            <input type="hidden" asp-for="ReservationId" />
            <input type="submit" value="Annuler" class="btn btn-danger" />
        </form>
        <div class="back2">
            <a asp-action="Index">Retour à la liste</a>
        </div>
    </div>
</body>
</html>
