@model IEnumerable<ReservationHotel.Models.Reservation>

@{
    ViewData["Title"] = "Index";
}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mes Réservations</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="reservations-title">
        <h1>Mes Réservations</h1>
    </div>
    <div class="rooms-container">
        <!-- Début -->
        @foreach (var item in Model) {
        <div class="room-item">
            <img src="@Url.Content(item.Chambre.Photo)" alt="Chambre" class="room-image" />
            <div class="room-details">
                <p class="room-name">Numéro: @item.Chambre.NumeroChambre</p>
                    <p class="room-name">Date d'arrivée: @item.DateDebut</p>
                    <p class="room-name">Date de départ: @item.DateFin</p>
                <p class="room-beds">Lits: @item.Chambre.Lit</p>
                <p class="room-view">Vue: @item.Chambre.Vue</p>
            </div>
            <form class="form_supprimer">
                    <button class="delete-room" asp-action="Delete" asp-route-id="@item.ReservationId">Annuler</button>
            </form>
        </div>
        }
    </div>
</body>
</html>
