@model IEnumerable<ReservationHotel.Models.Utilisateur>

@{
    ViewData["Title"] = "Index";
}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestion des Utilisateurs</title>
    <link rel="stylesheet" href="styles3.css">
</head>
<body>
    <div class="divAjouter">
        <h1>Gestion des Utilisateurs</h1>
        <form>
            <button class="add-room-btn" asp-action="Create">Ajouter un utilisateur</button>
        </form>
    </div>
    <div class="rooms-container">
        <!-- Début -->
        @foreach (var item in Model) {
        <div class="room-item">
            <div class="room-details">
                    <p class="room-name">ID: @item.UserId</p>
                    <p class="room-name">Nom: @item.Nom</p>
                    <p class="room-name">Prenom: @item.Prenom</p>
                    <p class="room-name">Email: @item.Email</p>
            </div>
            <form class="form_modifier">
                    <button class="edit-room" asp-action="Edit" asp-route-id="@item.UserId">Modifier</button>
            </form>
            <form class="form_supprimer">
                    <button class="delete-room" asp-action="Delete" asp-route-id="@item.UserId">Supprimer</button>
            </form>
        </div>
        }
    </div>
</body>
</html>